# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Data & Models (Local only)
storage.db
model.pkl
model_sniper.pkl

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Private Template Files
.agent/
.cursorrules
SYSTEM_INSTRUCTION.txt
